<app-navbar></app-navbar>

<div class="wrapper">
  <main>
    <div class="main-section">
      <div class="container">
        <div class="main-section-data">
          <div class="row">
            <div class="col-lg-3 col-md-4 pd-left-none no-pd">
              <div class="main-left-sidebar no-margin">
                <div class="user-data full-width">
                  <div class="user-profile">
                    <div class="username-dt">
                      <div class="usr-pic">
                        <img
                          style="height: 112px"
                          [src]="linkImg(user.picture)"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="user-specs">
                      <h3>
                        <a routerLink="/profile">{{ user.username }}</a>
                      </h3>
                      <span>{{ user.bio }}</span>
                    </div>
                  </div>
                  <ul class="user-fw-status">
                    <li>
                      <h4>Friends</h4>
                      <span>{{ user.friends.length }}</span>
                    </li>
                    <li>
                      <h4>Invitations</h4>
                      <span>{{ user.invitations.length }}</span>
                    </li>
                    <li>
                      <a routerLink="/profile" title="">View Profile</a>
                    </li>
                  </ul>
                </div>
                <div class="suggestions full-width">
                  <div class="sd-title">
                    <h3>Suggestions</h3>
                    <i class="la la-ellipsis-v"></i>
                  </div>
                  <div class="suggestions-list">
                    <div>
                      <div
                        class="suggestion-usd"
                        *ngFor="let friend of friendsOfFriends"
                      >
                        <img
                          src="../../assets/images/resources/s1.png"
                          alt=""
                        />
                        <div class="sgt-text">
                          <h4>{{ friend.username }}</h4>
                          <span>{{ friend.bio }}</span>
                        </div>
                        <span
                          ><i
                            class="la la-plus"
                            (click)="invite(friend._id)"
                          ></i
                        ></span>
                      </div>
                    </div>
                    <div class="view-more">
                      <a href="#" title="">View More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-8 no-pd">
              <div class="main-ws-sec">
                <div class="post-topbar">
                  <div class="user-picy">
                    <img
                      class="circle-image"
                      src="../../assets/images/resources/user-pic.png"
                      alt=""
                    />
                  </div>
                  <div class="post-st">
                    <ul>
                      <li>
                        <a class="post-jb active" href="#" title="">
                          Write a Post</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="posts-section">
                  <div
                    *ngFor="let post of posts; let i = index"
                    [attr.data-index]="i"
                    class="post-bar"
                  >
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img
                          class="circle-image"
                          src="../../assets/images/resources/us-pic.png"
                          alt=""
                        />
                        <div class="usy-name">
                          <h1 *ngIf="post.comments.length > 0"></h1>

                          <h3 *ngIf="post.posterId._id === user._id">
                            <a routerLink="/profile">{{ user.username }}</a>
                          </h3>
                          <h3 *ngIf="post.posterId._id !== user._id">
                            {{ post.posterId.username }}
                          </h3>
                          <span
                            ><img src="../../assets/images/clock.png" alt="" />3
                            min ago</span
                          >
                        </div>
                      </div>
                      <div
                        *ngIf="post.posterId._id === user._id"
                        class="ed-opts"
                      >
                        <a href="" title="" class="ed-opts-open"
                          ><i class="la la-ellipsis-v"></i
                        ></a>
                        <ul class="ed-options">
                          <li><a href="" title="">Edit Post</a></li>
                          <li><a href="" title="">Delete</a></li>
                        </ul>
                      </div>
                      <div
                        *ngIf="
                          post.posterId._id !== user._id &&
                          !isFriend(post.posterId._id)
                        "
                        class="ed-opts"
                      >
                        <button class="ed-opts-open">
                          <i
                            class="la la-plus"
                            (click)="invite(post.posterId._id)"
                          ></i>
                        </button>
                      </div>
                    </div>

                    <div class="job_descp">
                      <p>
                        {{ post.message }}<br />

                        <img [src]="linkImg(post.picture)" />
                      </p>
                    </div>
                    <div class="job-status-bar">
                      <ul class="like-com">
                        <li (click)="clicklike(post)">
                          <a href="#"><i class="fas fa-heart"></i> Like</a>
                          <img src="../../assets/images/liked-img.png" alt="" />

                          <span>{{ post.likers.length }}</span>
                        </li>
                        <li>
                          <a
                            (click)="openCommentText(i)"
                            data-toggle="modal"
                            data-target="#exampleModal"
                            href="#"
                            class="com"
                            ><i class="fas fa-comment-alt"></i>
                            {{ post.comments.length }}</a
                          >
                        </li>
                      </ul>
                      <div *ngIf="isOpen[i]" class="comment-section">
                        <div class="comment-sec">
                          <ul>
                            <li>
                              <div
                                class="comment-list"
                                *ngFor="let comment of post.comments"
                              >
                                <div class="comment">
                                  <h3>{{ comment.commenterUsername }}</h3>
                                  <span
                                    ><img
                                      src="../../assets/images/clock.png"
                                      alt=""
                                    />
                                    {{ comment.timestamp | date }}</span
                                  >
                                  <p>
                                    {{ comment.text }}
                                  </p>
                                  <button
                                    *ngIf="user._id === comment.commenterId"
                                    (click)="
                                      deleteComment(post._id, comment._id)
                                    "
                                  >
                                    Delete
                                  </button>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="post-comment">
                          <div class="cm_img">
                            <img
                              src="../../assets/images/resources/bg-img4.png"
                              alt=""
                            />
                          </div>
                          <div class="comment_box">
                            <form
                              #commentForm="ngForm"
                              (ngSubmit)="
                                OnSubmitcomment(commentForm, post._id)
                              "
                            >
                              <input
                                #message="ngModel"
                                [(ngModel)]="comment.text"
                                style="width: 332px"
                                type="text"
                                name="text"
                                placeholder="Post a comment"
                              />
                              <button
                                type="submit"
                                [disabled]="!commentForm.valid"
                              >
                                Send
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Button trigger modal -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 pd-right-none no-pd">
              <div class="right-sidebar">
                <div class="widget widget-jobs">
                  <div class="sd-title">
                    <h3>Trending</h3>
                    <i class="la la-ellipsis-v"></i>
                  </div>
                  <div class="jobs-list">
                    <div class="job-info">
                      <div class="job-details">
                        <h3>Senior Product Designer</h3>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit..
                        </p>
                      </div>
                      <div class="hr-rate">
                        <span>$25/hr</span>
                      </div>
                    </div>
                    <div class="job-info">
                      <div class="job-details">
                        <h3>Senior UI / UX Designer</h3>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit..
                        </p>
                      </div>
                      <div class="hr-rate">
                        <span>$25/hr</span>
                      </div>
                    </div>
                    <div class="job-info">
                      <div class="job-details">
                        <h3>Junior Seo Designer</h3>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit..
                        </p>
                      </div>
                      <div class="hr-rate">
                        <span>$25/hr</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="post-popup pst-pj">
    <div class="post-project">
      <h3>Post a project</h3>
      <div class="post-project-fields">
        <form>
          <div class="row">
            <div class="col-lg-12">
              <input type="text" name="title" placeholder="Title" />
            </div>
            <div class="col-lg-12">
              <div class="inp-field">
                <select>
                  <option>Category</option>
                  <option>Category 1</option>
                  <option>Category 2</option>
                  <option>Category 3</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12">
              <input type="text" name="skills" placeholder="Skills" />
            </div>
            <div class="col-lg-12">
              <div class="price-sec">
                <div class="price-br">
                  <input type="text" name="price1" placeholder="Price" />
                  <i class="la la-dollar"></i>
                </div>
                <span>To</span>
                <div class="price-br">
                  <input type="text" name="price1" placeholder="Price" />
                  <i class="la la-dollar"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <textarea name="description" placeholder="Description"></textarea>
            </div>
            <div class="col-lg-12">
              <ul>
                <li>
                  <button class="active" type="submit" value="post">
                    Post
                  </button>
                </li>
                <li><a href="#" title="">Cancel</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      <a href="#" title=""><i class="la la-times-circle-o"></i></a>
    </div>
  </div>
  <div class="post-popup job_post">
    <div class="post-project">
      <h3>Write a Post</h3>
      <div class="post-project-fields">
        <form #postForm="ngForm" (ngSubmit)="OnSubmitPost(postForm)">
          <div class="row">
            <div class="col-lg-12">
              <input
                class="form-control"
                #picture="ngModel"
                [(ngModel)]="post.picture"
                (change)="onPictureSelected($event)"
                name="picture"
                type="file"
              />
            </div>
            <div class="col-lg-12">
              <textarea
                #message="ngModel"
                [(ngModel)]="post.message"
                name="message"
                placeholder="Message"
              ></textarea>
            </div>
            <div class="col-lg-12">
              <ul>
                <li>
                  <button
                    [disabled]="!postForm.valid"
                    class="active"
                    type="submit"
                    value="post"
                  >
                    Post
                  </button>
                </li>
                <li><a href="#" title="">Cancel</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      <a href="#" title=""><i class="la la-times-circle-o"></i></a>
    </div>
  </div>
</div>
