<div *ngIf="currentFriend && currentRoom" class="main-conversation-box">
  <div class="message-bar-head">
    <div class="usr-msg-details">
      <div class="usr-ms-img">
        <img src="images/resources/m-img1.png" alt="" />
      </div>
      <div class="usr-mg-info">
        <h3>{{ currentFriend.username }}</h3>
        <p>Online</p>
      </div>
    </div>
    <a href="#" title=""><i class="fa fa-ellipsis-v"></i></a>
  </div>
  <div style="overflow-y: auto" id="messageThread" class="messages-line">
    <br /><br /><br /><br /><br /><br />
    <div *ngFor="let msg of currentRoom.messages">
      <div style="margin-top: 20px" class="main-message-box ta-right">
        <div *ngIf="msg.sender_id === user._id" class="message-dt">
          <div class="message-inner-dt">
            <p>{{ msg.message }}</p>
          </div>
          <span>{{ msg.createdAt | date }}</span>
        </div>
        <div class="messg-usr-img">
          <img src="../../assets/images/resources/m-img2.png" alt="" />
        </div>
      </div>

      <div
        *ngIf="msg.sender_id === currentFriend._id"
        class="main-message-box st3"
      >
        <div class="message-dt st3">
          <div class="message-inner-dt">
            <p>
              {{ msg.message}}
            </p>
          </div>
          <span>{{ msg.createdAt | date }}</span>
        </div>
        <div class="messg-usr-img">
          <img src="../../assets/images/resources/m-img1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="message-send-area">
    <form>
      <div class="mf-field">
        <input
          [(ngModel)]="message"
          type="text"
          name="message"
          placeholder="Type a message here"
        />
        <button (click)="sendMessage()" type="submit">Send</button>
      </div>
      <ul>
        <li>
          <a href="#" title=""><i class="fa fa-smile-o"></i></a>
        </li>
        <li>
          <a href="#" title=""><i class="fa fa-camera"></i></a>
        </li>
        <li>
          <a href="#" title=""><i class="fa fa-paperclip"></i></a>
        </li>
      </ul>
    </form>
  </div>
</div>
