<app-navbar></app-navbar>
<div *ngIf="user" class="wrapper">
  <section class="cover-sec">
    <img src="../../assets/images/resources/cover-img.jpg" alt="" />
    <div class="add-pic-box">
      <div class="container">
        <div class="row no-gutters"></div>
      </div>
    </div>
  </section>
  <main>
    <div class="main-section">
      <div class="container">
        <div class="main-section-data">
          <div class="row">
            <div class="col-lg-9">
              <div class="main-ws-sec">
                <div class="user-tab-sec rewivew">
                  <div class="product-feed-tab current" id="feed-dd">
                    <div class="posts-section">
                      <div class="post-bar">
                        <div class="post_topbar">
                          <div class="usy-dt">
                            <img
                              style="height: 112px"
                              [src]="linkImg(user.picture)"
                              alt=""
                            />
                            <div style="margin-top: 20%" class="usy-name">
                              <h3>{{ user.username }}</h3>
                            </div>
                          </div>
                        </div>
                        <div class="epi-sec">
                          <ul class="descp">
                            <li>
                              <img
                                src="../../assets/images/icon8.png"
                                alt=""
                              /><span>{{ user.bio }}</span>
                            </li>
                            <li>
                              <img
                                src="../../assets/images/icon9.png"
                                alt=""
                              /><span>Tunisia</span>
                            </li>
                            <li>
                              <img
                                src="../../assets/images/icon9.png"
                                alt=""
                              /><span>10 Friends</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  *ngFor="let post of posts; let i = index"
                  [attr.data-index]="i"
                  class="product-feed-tab current"
                  id="feed-dd"
                >
                  <div class="posts-section">
                    <div class="post-bar">
                      <div class="post_topbar">
                        <div class="usy-dt">
                          <img
                            src="../../assets/images/resources/us-pic.png"
                            alt=""
                          />
                          <div class="usy-name">
                            <h3>{{ user.username }}</h3>
                            <span
                              ><img
                                src="../../assets/images/clock.png"
                                alt=""
                              />{{ post.createdAt | date }}</span
                            >
                          </div>
                        </div>
                        <div class="ed-opts">
                          <a href="#" title="" class="ed-opts-open"
                            ><i class="la la-ellipsis-v"></i
                          ></a>
                          <ul class="ed-options">
                            <li><a href="#" title="">Delete Post</a></li>
                          </ul>
                        </div>
                      </div>
                      <div style="margin-left: 10%" class="job_descp">
                        <h3>{{ post.message }}</h3>
                      </div>
                      <div class="job-status-bar">
                        <ul class="like-com">
                          <li>
                            <a href="#"><i class="fas fa-heart"></i> Like</a>
                            <img
                              src="../../assets/images/liked-img.png"
                              alt=""
                            />
                            <span>{{ post.likers.length }}</span>
                          </li>
                          <li>
                            <a
                              (click)="openCommentText(i)"
                              data-toggle="modal"
                              data-target="#exampleModal"
                              href="#"
                              class="com"
                              ><i class="fas fa-comment-alt"></i>
                              {{ post.comments.length }}</a
                            >
                          </li>
                        </ul>
                        <div *ngIf="isOpen[i]" class="comment-section">
                          <div class="comment-sec">
                            <ul>
                              <li>
                                <div
                                  class="comment-list"
                                  *ngFor="let comment of post.comments"
                                >
                                  <div class="comment">
                                    <h3>{{ comment.commenterUsername }}</h3>
                                    <span
                                      ><img
                                        src="../../assets/images/clock.png"
                                        alt=""
                                      />
                                      {{ comment.timestamp | date }}</span
                                    >
                                    <p>
                                      {{ comment.text }}
                                    </p>
                                    <button
                                      *ngIf="user._id === comment.commenterId"
                                      (click)="
                                        deleteComment(post._id, comment._id)
                                      "
                                    >
                                      Delete
                                    </button>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class="post-comment">
                            <div class="cm_img">
                              <img
                                src="../../assets/images/resources/bg-img4.png"
                                alt=""
                              />
                            </div>
                            <div class="comment_box">
                              <form
                                #commentForm="ngForm"
                                (ngSubmit)="
                                  OnSubmitcomment(commentForm, post._id)
                                "
                              >
                                <input
                                  #message="ngModel"
                                  [(ngModel)]="comment.text"
                                  style="width: 332px"
                                  type="text"
                                  name="text"
                                  placeholder="Post a comment"
                                />
                                <button
                                  type="submit"
                                  [disabled]="!commentForm.valid"
                                >
                                  Send
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="right-sidebar">
                <div class="message-btn">
                  <a routerLink="/update-profile" title=""
                    ><i class="fas fa-cog"></i> Update Profile</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
