.navbar-collapse.in {
  overflow: hidden;
  max-height: none !important;
  height: auto !important;
}
.user-account {
  float: right;
  width: 145px;
  border-left: 1px solid #dd3e2b;
  border-right: 1px solid #dd3e2b;
  box-sizing: border-box;
  position: relative;
}
