<header>
  <div class="container">
    <div class="header-data">
      <div class="logo">
        <a href="index.html" title=""
          ><img src="../../assets/images/logo.png" alt=""
        /></a>
      </div>

      <nav>
        <ul>
          <li>
            <a routerLink="/">
              <span><img src="../../assets/images/icon1.png" alt="" /></span>
              Home
            </a>
          </li>

          <li>
            <a routerLink="/friends" title="">
              <span><img src="../../assets/images/icon4.png" alt="" /></span>
              Friends
            </a>
          </li>
          <li>
            <a routerLink="/messages" title="" class="not-box-openm">
              <span><img src="../../assets/images/icon6.png" alt="" /></span>
              Messages
            </a>
          </li>
        </ul>
      </nav>

      <div class="user-account">
        <div class="user-info">
          <img src="../../assets/images/resources/user.png" alt="" />
          <a title="">{{ user.username }}</a>
          <i class="la la-sort-down"></i>
        </div>
        <div class="user-account-settingss" id="users">
          <h3 class="tc"><a (click)="Logout()" routerLink="/">Logout</a></h3>
        </div>
      </div>
    </div>
  </div>
</header>
