<div class="wrapper">
  <div class="sign-in-page">
    <div class="signin-popup">
      <div class="signin-pop">
        <div class="row">
          <div class="col-lg-6">
            <div class="cmp-info">
              <div class="cm-logo">
                <img src="../../assets/images/cm-logo.png" alt="" />
                <p>ADN² is a new social media platform</p>
              </div>
              <img src="../../assets/images/cm-main-img.png" alt="" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="login-sec">
              <ul class="sign-control">
                <li data-tab="tab-1" class="current">
                  <a href="#" title="">Sign in</a>
                </li>
                <li data-tab="tab-2"><a href="#" title="">Sign up</a></li>
              </ul>
              <div class="sign_in_sec current" id="tab-1">
                <h3>Sign in</h3>
                <form
                  #userLoginForm="ngForm"
                  (ngSubmit)="OnSubmitLogin(email.value, password.value)"
                >
                  <div class="row">
                    <div class="col-lg-12 no-pdd">
                      <div class="sn-field">
                        <input
                          type="text"
                          #email="ngModel"
                          ngModel
                          name="email"
                          placeholder="E-mail"
                          [pattern]="emailPattern"
                          required
                        />
                        <i class="la la-user"></i>
                      </div>
                    </div>
                    <div class="col-lg-12 no-pdd">
                      <div class="sn-field">
                        <input
                          type="password"
                          name="password"
                          placeholder="Password"
                          #password="ngModel"
                          ngModel
                          validate
                          required
                        />
                        <i class="la la-lock"></i>
                      </div>
                    </div>
                    <div class="col-lg-12 no-pdd">
                      <div class="checky-sec">
                        <a href="#" title="">Forgot Password?</a>
                      </div>
                    </div>
                    <div class="col-lg-12 no-pdd">
                      <button
                        [disabled]="!userLoginForm.valid"
                        type="submit"
                        value="submit"
                      >
                        Sign in
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="sign_in_sec" id="tab-2">
                <div class="dff-tab current" id="tab-3">
                  <form
                    #userRegistrationForm="ngForm"
                    (ngSubmit)="OnSubmit(userRegistrationForm)"
                  >
                    <div class="row">
                      <div class="col-lg-12 no-pdd">
                        <div class="sn-field">
                          <input
                            #username="ngModel"
                            [(ngModel)]="user.username"
                            type="text"
                            name="username"
                            placeholder="Username"
                            required
                          />
                          <i class="la la-user"></i>
                        </div>
                      </div>
                      <div class="col-lg-12 no-pdd">
                        <div class="sn-field">
                          <input
                            type="text"
                            #email="ngModel"
                            [(ngModel)]="user.email"
                            name="email"
                            placeholder="E-mail"
                            [pattern]="emailPattern"
                            required
                          />
                          <i class="la la-globe"></i>
                        </div>
                      </div>
                      <div class="col-lg-12 no-pdd">
                        <div class="sn-field">
                          <input
                            type="password"
                            name="password"
                            placeholder="Password"
                            #password="ngModel"
                            [(ngModel)]="user.password"
                            validate
                            required
                          />
                          <i class="la la-lock"></i>
                        </div>
                      </div>
                      <div class="col-lg-12 no-pdd">
                        <div class="sn-field">
                          <input
                            type="password"
                            name="repeat-password"
                            placeholder="Repeat Password"
                          />
                          <i class="la la-lock"></i>
                        </div>
                      </div>
                      <div class="col-lg-12 no-pdd">
                        <button
                          [disabled]="!userRegistrationForm.valid"
                          type="submit"
                          value="submit"
                        >
                          Register
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footy-sec">
      <div class="container">
        <ul>
          <li><a href="help-center.html" title="">Help Center</a></li>
          <li><a href="about.html" title="">About</a></li>
          <li><a href="#" title="">Privacy Policy</a></li>
          <li><a href="#" title="">Community Guidelines</a></li>
          <li><a href="#" title="">Cookies Policy</a></li>
          <li><a href="#" title="">Career</a></li>
          <li><a href="forum.html" title="">Forum</a></li>
          <li><a href="#" title="">Language</a></li>
          <li><a href="#" title="">Copyright Policy</a></li>
        </ul>
        <p>
          <img src="../../assets/images/copy-icon.png" alt="" />Copyright 2019
        </p>
      </div>
    </div>
  </div>
</div>
